extends layout

block content
  h1 Hallo vrienden
  p Deze node-app bevat de API (de backend) waarmee we  todo items kunnen beheren.
  p De frontend hebben we bewust losgekoppeld van onze API en kan je vinden op <a href="https://todo-nodejs-frontend.netlify.com">https://todo-nodejs-frontend.netlify.com</a>
  p Bekijk verdere instructies zeker even op <a href="https://github.com/iamgoodbytes/courses-nodejs">github</a> en have fun!
  div
    img(style="width:200px" src="/images/sig.png" alt="GoodBytes")